@import "./src/app/components/breakpoints/breakpoints.vars";

.app-layout__trim {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  min-width: 320px;

  @media (min-width: $tablet-portrait) {
    max-width: 754px;
    padding: 0;
  }
}
