@import "./src/app/components/breakpoints/breakpoints.vars";
@import "./src/app/components/gaps/gaps.vars";

.tickets-layout {
  @media (min-width: $tablet-portrait) {
    display: grid;
    grid-template-columns: 232px 502px;
    grid-column-gap: $gap_default;
    grid-template-areas: "filter sorting"
      "filter throbber"
      "filter list";
  }
}
