@import "./src/app/components/colors/colors.vars";
@import "./src/app/components/gaps/gaps.vars";
@import "./src/app/components/breakpoints/breakpoints.vars";

.page {
  background-color: $gray-light;

  @media (min-width: $tablet-portrait) {
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 232px 502px;
    grid-column-gap: $gap_default;
  }
}
