@import "../../colors/colors.vars";
@import "../../gaps/gaps.vars";

.sorting-form__label {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 14px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid $color_border;
  background-color: $background-color_body;

  &:hover {
    border: 1px solid $color_brand;
    color: $color_brand;
  }
}
