@import "../../colors/colors.vars";
@import "../../gaps/gaps.vars";
@import "./src/app/components/breakpoints/breakpoints.vars";

.sorting-form__option {
  width: 100%;
  display: flex;
  flex-direction: column;

  &:first-child {
    @media (min-width: $tablet-portrait) {
      .sorting-form__label {
        border-top-left-radius: $border_radius;
        border-bottom-left-radius: $border_radius;
      }
    }
  }

  &:last-child {
    @media (min-width: $tablet-portrait) {
      .sorting-form__label {
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
      }
    }
  }
}
