@import "./src/app/components/breakpoints/breakpoints.vars";
@import "./src/app/components/gaps/gaps.vars";

.page__sidebar {
  margin-bottom: $gap_default;
  grid-column: 1/2;

  @media (min-width: $tablet-portrait) {
    margin-bottom: 0;
  }
}
