@import "./src/app/components/colors/colors.vars";
@import "./src/app/components/breakpoints/breakpoints.vars";
@import "./src/app/components/gaps/gaps.vars";

.ticket-card {
  padding: 15px;
  border-radius: $border_radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
  background-color: $background-color_body;

  @media (min-width: $tablet-portrait) {
    padding: $gap_default;
  }
}
