@import "./src/app/components/breakpoints/breakpoints.vars";
@import "./src/app/components/gaps/gaps.vars";

.tickets-layout__filter {
  margin-bottom: $gap_default;
  grid-column: 1/2;
  grid-area: filter;

  @media (min-width: $tablet-portrait) {
    margin-bottom: 0;
  }
}
