@import "./src/app/components/visually-hidden/visually-hidden";
@import "./src/app/components/colors/colors.vars";

.sorting-form__input {
  @include visually-hidden;

  &:focus {
    + .sorting-form__label {
      border: 1px solid $color_brand;
      color: $color_brand;
    }
  }

  &:checked {
    + .sorting-form__label {
      border: 1px solid $color_brand;
      background-color: $color_brand;
      color: $background-color_body;
    }

    &:focus {
      + .sorting-form__label {
        color: $background-color_body;
      }
    }
  }
}
