@import "./src/app/components/visually-hidden/visually-hidden";
@import "./src/app/components/colors/colors.vars";

.sorting-form__input {
  @include visually-hidden;

  &:checked + .sorting-form__label {
    border: 1px solid $color_brand;
    background-color: $color_brand;
    color: $background-color_body;
  }
}
